<form action="/accounts/add" method="POST" >

    
    <label for="">model</label>
    <input type="text" name="accountNumber" class="form-control" id=""><br>
    
    <label for="">brand</label>
    <input type="text" name="totalService" class="form-control" id=""><br>
    
            
    <label for="">body</label>
            
    <input type="text" name="totalbill" class="form-control" id=""><br>
     
    <input type="text" name="ischecked" class="form-control" id=""><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>